---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}

{% assign publications_sorted = site.publications | sort: 'year' | reverse %}
{% assign years = publications_sorted | map: 'year' | uniq %}

<ul>
  {% for year in years %}
    <li><a href="#{{ year }}">{{ year }}</a></li>
  {% endfor %}
</ul>

{% for year in years %}
  <h2 id="{{ year }}">{{ year }}</h2>
  <hr />
  {% for pub in publications_sorted %}
    {% if pub.year == year %}
      {% include archive-single.html post=pub %}
    {% endif %}
  {% endfor %}
{% endfor %}
